<template name="crm">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                {{#each pipelines}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{name}}</td>
                    <td>{{desc}}</td>
                    <td>{{desc}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="crmNewPipeline">
    <div class="col-12">
        <h1>New pipeline</h1>
        {{> quickForm collection="Pipelines" id="insertPipelinesForm" type="insert" class="new-pipelines-form"}}
    </div>
</template>

<template name="sideNavbarcrm">
    <div class="col">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {{{leftSidebar}}}
        </div>
    </div>
</template>