<template name="crm">
    <div class="col-12">
        <h1>CRM Dashboard</h1>
    </div>
</template>

<template name="crmTreeView">
    <div class="col-12 self-align-end">
        <button type="button" class="btn btn-success export-csv pull-right">Export to csv</button>
        <button type="button" class="btn btn-info import-csv pull-right">Import csv</button>
        <input id="file" type="file" class="btn btn-info import-csv-file pull-right d-none"/>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Label</th>
                    <th scope="col">Expected revenue</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each pipelines}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td><a href="{{pathFor 'crm/pipeline' _id=_id}}" title="{{name}}">{{label}}</a></td>
                    <td>{{expected_revenue}} €</td>
                    <td>
                        <a href="{{pathFor 'crm/pipeline' _id=_id}}" title="{{name}}">View Details</a>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="crmNewPipeline">
    <div class="col-12">
        <h1>New pipeline</h1>
        {{> quickForm collection="Pipelines" id="insertPipelinesForm" type="insert" class="new-pipelines-form"}}
    </div>
</template>

<template name="sideNavbarcrm">
    <div class="col">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {{{leftSidebar}}}
        </div>
    </div>
</template>