<template name="crmSinglePipeline">
    <div class="row col-md-12">
        <div class="col-md-8">
            <h1 class="fields-title">{{pipeline.label}}</h1>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-warning">Edit</button>
            </div>
        </div>
    </div>
    <hr>
    {{#if editMode}}
    {{> quickForm collection="Pipelines" doc=this id="updatePipelineId" type="update" class="new-pipelines-form"
    autosave=true}}
    {{else}}
    <div class="row col-md-12">
        <div class="row col-md-12">
            <div class="col-md-6">
                <h5 class="fields-labels">Expected Revenue : <span class="fields-values">{{pipeline.expected_revenue}} €</span></h5>
                <h5 class="fields-labels">Expected probability : <span class="fields-values">{{pipeline.probability}} %</span></h5>
            </div>
            <div class="col-md-6">
                <h5 class="fields-labels">Customer : <span class="fields-values">{{pipeline.customer}}</span></h5>
                <h5 class="fields-labels">Expected closing date : <span class="fields-values">{{pipeline.expected_closing}} %</span></h5>
            </div>
            <hr>
            <div class="col-md-12">
                <h5 class="fields-labels">Document created : <span class="fields-values">{{pipeline.createdAt}}</span></h5>
                <h5 class="fields-labels">Document author : <span class="fields-values">{{pipeline.author}}</span></h5>
            </div>
        </div>
    </div>
    {{/if}}
</template>