<template name="mainTemplate">
    {{> tpeeTopNavbar}}
    {{> tpeeHeaderAssets}}
    <div class="container-fluid">
        <div class="row mt-6 ml-3">
            <div class="col-2">
                {{> Template.dynamic template=sidebar}}
            </div>
            <div class="col-10">
                {{> Template.dynamic template=module}}
                {{> Template.dynamic template=view}}
            </div>


        </div>
        {{> tpeeFooterAssets}}
    </div>


</template>

<template name="tpeeTopNavbar">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/">Twiice</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    {{> loginButtons}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Standard Modules
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{{standard_modules}}}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Specific Modules
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item d-none specific-modules" href="#">Modules Here</a>
                            {{{customer_modules}}}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</template>

<template name="tpeeSideNavbar">
    <div class="col">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {{{leftSidebar}}}
        </div>
    </div>
</template>

<template name="tpee">
    <div class="col-12">
        <h1>{{_ "Tpee Dashboard"}}</h1>
    </div>
</template>

<template name="tpeeDashboard">
    <div class="col-12 self-align-end">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is your Dashboard. Checkout our features !</p>
            <hr class="my-4">
            <p>Tpee Project has a documentation available here :</p>
            <a class="btn btn-primary btn-lg" href="https://gitlab.com/tpee/tpee/wikis/Cr%C3%A9er-un-module" target="_blank"
                role="button">Learn Tpee</a>
        </div>
    </div>
</template>

<template name="tpeeHeaderAssets">
    <link rel="stylesheet" href="/tpee/css/global.css">
    <link rel="stylesheet" href="/tpee/css/leftsidebar.css">
</template>

<template name="tpeeFooterAssets">
    <script src="/tpee/js/leftsidebar.js"></script>
</template>