<template name="mainTemplate">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/client/standard/project/static/css/project.css">
    {{> tpeeTopNavbar}}
    {{> tpeeHeaderAssets}}
    <div class="container-fluid">
        <div class="row mt-6 ml-3">
            <div class="col-2">
                {{> Template.dynamic template=sidebar}}
            </div>
            <div class="col-10">
                {{> Template.dynamic template=module}}
                {{> Template.dynamic template=view}}
            </div>


        </div>
        {{> tpeeFooterAssets}}
    </div>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
        integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>

</template>

<template name="tpeeTopNavbar">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{{pathFor 'tpee/dashboard' }}">Twiice</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{pathFor 'tpee/dashboard' }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{pathFor 'web' }}">Frontend</a>
                    </li>
                    {{> loginButtons}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Standard Modules
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{{standard_modules}}}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Specific Modules
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item d-none specific-modules" href="#">Modules Here</a>
                            {{{customer_modules}}}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</template>

<template name="tpeeSideNavbar">
    <div class="col">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {{{leftSidebar}}}
        </div>
    </div>
</template>

<template name="tpeeSideNavbarSettings">
    <div class="col">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {{{leftSidebarSettings}}}
        </div>
    </div>
</template>

<template name="tpee">
    <div class="col-12">
        <h1>{{_ "Tpee Dashboard"}}</h1>
    </div>
</template>

<template name="tpeeDashboard">
    <div class="col-12 self-align-end">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is your Dashboard. Checkout our features !</p>
            <hr class="my-4">
            <p>Twiice Project has a documentation available here :</p>
            <a class="btn btn-primary btn-lg" href="https://github.com/Brawcks/twiice" target="_blank"
                role="button">Learn Twiice</a>
        </div>
    </div>
    <div class="col-12">
        {{> testkanban}}
    </div>
</template>

<template name="testkanban">
    <hr>
    <h1>Test area below</h1>
    <style>
            * {
                box-sizing: border-box;
              }
              
              ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
              }
              
              .drag-container {
                max-width: 1000px;
                margin: 20px auto;
              }
              
              .drag-list {
                display: flex;
                align-items: flex-start;
              }
              @media (max-width: 690px) {
                .drag-list {
                  display: block;
                }
              }
              
              .drag-column {
                flex: 1;
                margin: 0 10px;
                position: relative;
                background: rgba(0, 0, 0, 0.2);
                overflow: hidden;
              }
              @media (max-width: 690px) {
                .drag-column {
                  margin-bottom: 30px;
                }
              }
              .drag-column h2 {
                font-size: 0.8rem;
                margin: 0;
                text-transform: uppercase;
                font-weight: 600;
              }
              .drag-column-on-hold .drag-column-header,
              .drag-column-on-hold .is-moved,
              .drag-column-on-hold .drag-options {
                background: #fb7d44;
              }
              .drag-column-in-progress .drag-column-header,
              .drag-column-in-progress .is-moved,
              .drag-column-in-progress .drag-options {
                background: #2a92bf;
              }
              .drag-column-needs-review .drag-column-header,
              .drag-column-needs-review .is-moved,
              .drag-column-needs-review .drag-options {
                background: #f4ce46;
              }
              .drag-column-approved .drag-column-header,
              .drag-column-approved .is-moved,
              .drag-column-approved .drag-options {
                background: #00b961;
              }
              
              .drag-column-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
              }
              
              .drag-inner-list {
                min-height: 50px;
              }
              
              .drag-item {
                margin: 10px;
                height: 100px;
                background: rgba(0, 0, 0, 0.4);
                transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
              }
              .drag-item.is-moving {
                -webkit-transform: scale(1.5);
                        transform: scale(1.5);
                background: rgba(0, 0, 0, 0.8);
              }
              
              .drag-header-more {
                cursor: pointer;
              }
              
              .drag-options {
                position: absolute;
                top: 44px;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 10px;
                -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                opacity: 0;
                transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
              }
              .drag-options.active {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                opacity: 1;
              }
              .drag-options-label {
                display: block;
                margin: 0 0 5px 0;
              }
              .drag-options-label input {
                opacity: 0.6;
              }
              .drag-options-label span {
                display: inline-block;
                font-size: 0.9rem;
                font-weight: 400;
                margin-left: 5px;
              }
              
              /* Dragula CSS  */
              .gu-mirror {
                position: fixed !important;
                margin: 0 !important;
                z-index: 9999 !important;
                opacity: 0.8;
                list-style-type: none;
              }
              
              .gu-hide {
                display: none !important;
              }
              
              .gu-unselectable {
                -webkit-user-select: none !important;
                -moz-user-select: none !important;
                -ms-user-select: none !important;
                user-select: none !important;
              }
              
              .gu-transit {
                opacity: 0.2;
              }
              
              /* Demo info */
              .section {
                padding: 20px;
                text-align: center;
              }
              .section a {
                color: white;
                text-decoration: none;
                font-weight: 300;
              }
              .section h4 {
                font-weight: 400;
              }
              .section h4 a {
                font-weight: 600;
              }
              
    </style>
    
            <div class="drag-container">
                <ul class="drag-list">
                    <li class="drag-column drag-column-on-hold">
                        <span class="drag-column-header">
                            <h2>On Hold</h2>
                            <svg class="drag-header-more" data-target="options1" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
                        </span>
            
                        <div class="drag-options" id="options1"></div>
            
                        <ul class="drag-inner-list" id="1">
                            <li class="drag-item"></li>
                            <li class="drag-item"></li>
                        </ul>
                    </li>
                    <li class="drag-column drag-column-in-progress">
                        <span class="drag-column-header">
                            <h2>In Progress</h2>
                            <svg class="drag-header-more" data-target="options2" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
                        </span>
                        <div class="drag-options" id="options2"></div>
                        <ul class="drag-inner-list" id="2">
                            <li class="drag-item"></li>
                            <li class="drag-item"></li>
                            <li class="drag-item"></li>
                        </ul>
                    </li>
                    <li class="drag-column drag-column-needs-review">
                        <span class="drag-column-header">
                            <h2>Needs Review</h2>
                            <svg data-target="options3" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>/</svg>
                        </span>
                        <div class="drag-options" id="options3"></div>
                        <ul class="drag-inner-list" id="3">
                            <li class="drag-item"></li>
                            <li class="drag-item"></li>
                            <li class="drag-item"></li>
                            <li class="drag-item"></li>
                        </ul>
                    </li>
                    <li class="drag-column drag-column-approved">
                        <span class="drag-column-header">
                            <h2>Approved</h2>
                            <svg data-target="options4" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>/</svg>
                        </span>
                        <div class="drag-options" id="options4"></div>
                        <ul class="drag-inner-list" id="4">
                            <li class="drag-item"></li>
                            <li class="drag-item"></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            <section class="section">
                <a href="https://github.com/bevacqua/dragula">Drag and drop functionality by <strong>bevacqua/dragula</strong></a>
            </section>
            <script>
                    dragula([
                        document.getElementById('1'),
                        document.getElementById('2'),
                        document.getElementById('3'),
                        document.getElementById('4'),
                        document.getElementById('5')
                    ])
                    
                    .on('drag', function(el) {
                        
                        // add 'is-moving' class to element being dragged
                        el.classList.add('is-moving');
                    })
                    .on('dragend', function(el) {
                        
                        // remove 'is-moving' class from element after dragging has stopped
                        el.classList.remove('is-moving');
                        
                        // add the 'is-moved' class for 600ms then remove it
                        window.setTimeout(function() {
                            el.classList.add('is-moved');
                            window.setTimeout(function() {
                                el.classList.remove('is-moved');
                            }, 600);
                        }, 100);
                    });
                    
                    
                    var createOptions = (function() {
                        var dragOptions = document.querySelectorAll('.drag-options');
                        
                        // these strings are used for the checkbox labels
                        var options = ['Research', 'Strategy', 'Inspiration', 'Execution'];
                        
                        // create the checkbox and labels here, just to keep the html clean. append the <label> to '.drag-options'
                        function create() {
                            for (var i = 0; i < dragOptions.length; i++) {
                    
                                options.forEach(function(item) {
                                    var checkbox = document.createElement('input');
                                    var label = document.createElement('label');
                                    var span = document.createElement('span');
                                    checkbox.setAttribute('type', 'checkbox');
                                    span.innerHTML = item;
                                    label.appendChild(span);
                                    label.insertBefore(checkbox, label.firstChild);
                                    label.classList.add('drag-options-label');
                                    dragOptions[i].appendChild(label);
                                });
                    
                            }
                        }
                        
                        return {
                            create: create
                        }
                        
                        
                    }());
                    
                    var showOptions = (function () {
                        
                        // the 3 dot icon
                        var more = document.querySelectorAll('.drag-header-more');
                        
                        function show() {
                            // show 'drag-options' div when the more icon is clicked
                            var target = this.getAttribute('data-target');
                            var options = document.getElementById(target);
                            options.classList.toggle('active');
                        }
                        
                        
                        function init() {
                            for (i = 0; i < more.length; i++) {
                                more[i].addEventListener('click', show, false);
                            }
                        }
                        
                        return {
                            init: init
                        }
                    }());
                    
                    createOptions.create();
                    showOptions.init();
                    
                    
                    
                    
                    
                    
            </script>
</template>

<template name="tpeeTopActions">
    <div class="col-md-4">
        <div class="pull-right">
            <button type="button" class="btn btn-danger">{{_ "Delete"}}</button>
            <button type="button" class="btn btn-warning">{{_ "Edit"}}</button>
        </div>
    </div>
</template>

<template name="tpeeHeaderAssets">
    <link rel="stylesheet" href="/tpee/css/global.css">
    <link rel="stylesheet" href="/tpee/css/leftsidebar.css">
</template>

<template name="tpeeFooterAssets">
    <script src="/tpee/js/leftsidebar.js"></script>
</template>