<template name="project">
    <div class="col-6 d-flex">
        <h1 class="float-left">{{_ "Project Dashboard"}}</h1>
    </div>
</template>

<template name="projectTreeView">
    <div class="col-12 self-align-end">
        <button type="button" class="btn btn-success export-csv pull-right">{{_ "Export to csv"}}</button>
        <button type="button" class="btn btn-info import-csv pull-right">{{_ "Import csv"}}</button>
        <input id="file" type="file" class="btn btn-info import-csv-file pull-right d-none"/>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{_ "Name"}}</th>
                    <th scope="col">{{_ "Description"}}</th>
                    <th scope="col">{{_ "Actions"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each collection_sample}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td><a href="{{pathFor 'project/collection-sample-single' _id=_id}}" title="{{name}}">{{name}}</a></td>
                    <td>{{desc}}</td>
                    <td>
                        <a href="{{pathFor 'project/collection-sample-single' _id=_id}}" title="{{name}}">View Details</a>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="projectKanbanView">
<div class="container float-left">
    <div class="flex-row d-flex col-12">
        <div class="container col-4">
            <h2>To do</h2>
                {{#each project_todo}}
                    <div class="card" id="project">
                        {{> project_card}}
                    </div>
                {{/each}}
        </div>
        <div class="container col-4">
            <h2>Doing</h2>
                {{#each project_doing}}
                    <div class="card" id="project">
                        {{> project_card}}
                    </div>
                {{/each}}
        </div>
        <div class="container col-4">
            <h2>Done</h2>
                {{#each project_done}}
                    <div class="card" id="project">
                        {{> project_card}}
                    </div>
                {{/each}}
        </div>
    </div>
</div>
</template>

<template name="project_card">
    <div class="card-body">
        <div class="container">
                <a class="card-title" href="{{pathFor 'project/projectsingle' _id=_id}}">{{name}}</a>
            <div class="d-flex flex-column">
                    <span><i>Made by {{owner}}</i></span>
                    <span class="card-subtitle">{{subtitle}}</span>
            </div>
            <div class="card-text">
                <div class="desc">{{desc}}</div>
                <span>{{priority}} priority</span>
                <div class="container">
                    <div>{{dateBegin}}</div>
                    <div>{{dateEnd}}</div>
                </div>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</template>

<template name="newProject">
    <div class="col-12">
        <h1>{{_ "New Project"}}</h1>
        {{> quickForm collection="Project" id="insertProjectForm" type="insert" class="new-collection-sample-form"}}
    </div>
</template>

<template name="projectSingle">
    <div class="row col-md-12">
        <div class="col-md-8">
            <h1>Task : {{projectSingle.name}}</h1>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-warning">Edit</button>
            </div>
        </div>
    </div>
    <hr>
    {{#if editMode}}
        {{> quickForm collection="Project" doc=projectSingle id="updateId" type="update" class="edit edit-project-form"}}
    {{else}}
    <div class="row col-md-12">
        <div class="col-md-6">
            <h3>{{projectSingle.name}}</h3>
            <p>{{projectSingle.subtitle}}</p>
            <p>{{projectSingle.desc}}</p>
            <p>{{projectSingle.state}}</p>
            <p>{{projectSingle.priority}} priority</p>
            <p>{{projectSingle.dateBegin}}</p>
            <p>{{projectSingle.dateEnd}}</p>
            <h4>{{projectSingle.owner}}</h4>
        </div>
    </div>
    {{/if}}
</template>

<template name="sideNavbarproject">
    <div class="col">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {{{leftSidebar}}}
        </div>
    </div>
</template>
