<template name="usersHome">
    <div class="col-12">
        <h1>Users Dashboard</h1>
    </div>
</template>

<template name="usersTreeView">
    <div class="col-12 align-self-end">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"># Record ID</th>
                    <th scope="col">ID</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Verified</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{_id}}</td>
                    <td><a href="{{pathFor 'users/user' _id=_id}}">{{email.address}}</a></td>
                    <td>@twitter</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="sideNavbarUsers">
    <div class="col">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {{{leftSidebar}}}
        </div>
    </div>
</template>