<template name="partners">
    <div class="col-12">
        <h1>{{_ "Partners Dashboard"}}</h1>
    </div>
</template>

<template name="partnersTreeView">
    <div class="col-12 self-align-end">
        <div class="row justify-content-end">
            {{#if collection_key}}
                <select name="partnersFilterSelect" id="partnersFilterSelect">
                    {{#each collection_key}}
                        <option value="{{this}}">{{_ this}}</option>
                    {{/each}}
                </select>
            {{/if}}
            <select name="partnersFilterOperator" id="partnersFilterOperator">
                <option value="equalTo">{{_ "Equal to"}}</option>
                <option value="isDifferentFrom">{{_ "Is different from"}}</option>
                <option value="contain">{{_ "Contain"}}</option>
                <option value="doNotContain">{{_ "Do not contain"}}</option>
                <option value="isSet">{{_ "Is set"}}</option>
                <option value="isNotSet">{{_ "Is not set"}}</option>
            </select>
            <input type="text" placeholder="Filter by ..." class="col-6 tw-filter-input">
            <button class="btn btn-primary tw-filter-submit" type="submit">{{_ "Validate"}}</button>
            <button class="btn btn-warning tw-filter-remove" type="submit">{{_ "Remove filters"}}</button>
        </div>
        <hr>
        <button type="button" class="btn btn-success export-csv pull-right">{{_ "Export to csv"}}</button>
        <button type="button" class="btn btn-info import-csv pull-right">{{_ "Import csv"}}</button>
        <input id="file" type="file" class="btn btn-info import-csv-file pull-right d-none"/>
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{_ "Name"}}</th>
                    <th scope="col">{{_ "Surname"}}</th>
                    <th scope="col">{{_ "Address"}}</th>
                    <th scope="col">{{_ "Actions"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each partners}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td><a href="{{pathFor 'partners/collection-sample-single' _id=_id}}" title="{{name}}">{{name}}</a></td>
                    <td><a href="{{pathFor 'partners/collection-sample-single' _id=_id}}" title="{{name}}">{{surname}}</a></td>
                    <td>{{address.street1}}{{#if address.street2}},{{address.street2}}{{/if}} {{address.city}} - {{address.zip}}</td>
                    <td>
                        <a href="{{pathFor 'partners/collection-sample-single' _id=_id}}" title="{{name}}">{{_ "View Details"}}</a>
                        <button type="button" class="btn btn-danger">{{_ "Delete"}}</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="newCollectionSamplepartners">
    <div class="col-12">
        <h1>{{_ "New partner"}}</h1>
        {{> quickForm collection="Partners" id="insertCollection_sampleForm" type="insert" class="new-collection-sample-form"}}
    </div>
</template>

<template name="partnersSingleCollectionSample">
    <div class="row col-md-12">
        <div class="col-md-8">
            <h1>{{_ "Partner"}}</h1>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <button type="button" class="btn btn-danger">{{_ "Delete"}}</button>
                <button type="button" class="btn btn-warning">{{_ "Edit"}}</button>
            </div>
        </div>
    </div>
    <hr>
    {{#if editMode}}
    {{> quickForm collection="Partners" doc=partner_single id=updateCollectionSampleId type="update" class="edit edit-collection-form"}}
    {{else}}
    <div class="row col-md-12">
        <div class="col-md-6">
            <h3>{{_ "Partner name"}} : {{partner_single.name}} {{partner_single.surname}}</h3>
            <hr>
            <div class="bg-light tw-display-partnerInfo col-6">
                <h3>{{_ "Partner address"}}</h3>
                <h5>{{_ "Street 1"}} : {{partner_single.address.street1}}</h5>
                <h5>{{_ "Street 2"}} : {{partner_single.address.street2}}</h5>
                <h5>{{_ "City"}} : {{partner_single.address.city}}</h5>
                <h5>{{_ "ZIP"}} : {{partner_single.address.zip}}</h5>
            </div>
            <div class="bg-light tw-display-partnerInfo col-6">
                {{#if partner_single.partner_details.is_customer}}
                    <h5>{{_ "This partner is a customer"}}</h5>
                    {{else}}
                    <h5>{{_ "This partner isn't a customer"}}</h5>
                {{/if}}
            </div>
        </div>
    </div>
    {{/if}}
</template>

<template name="sideNavbarpartners">
    <div class="col">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {{{leftSidebar}}}
        </div>
    </div>
</template>
