<template name="tpeeGeneralSettings">
    <div class="col-10">
        <h1>General settings</h1>
        {{> quickForm collection="General_settings" doc=settings id="insertTpeeGeneralSettingsForm" type="update" class="new-tpee-general-settings-form"}}
    </div>
</template>

<template name="tpeeOutgoingMailServer">
    <div class="col-10">
        <h1>Outgoing Mail Server</h1>
    </div>
</template>

<template name="tpeeIncomingMailServer">
    <div class="col-10">
        <h1>Incoming Mail Server</h1>
    </div>
</template>