<template name="tpeeGeneralSettings">
    <div class="col-10">
        <h1>General settings</h1>
        {{> quickForm collection="General_settings" doc=settings id="insertTpeeGeneralSettingsForm" type="update" class="new-tpee-general-settings-form"}}
    </div>
</template>

<template name="tpeeOutgoingMailServer">
    <div class="col-10">
        <h1>Outgoing Mail Server</h1>
        <div class="jumbotron">
            <h1 class="display-4">Make it works !</h1>
            <p class="lead">Here you will be able to test mail sending using Twiice. Don't forget to setup smtp credentials in 
                <b>settings.json</b> file.</p>
            <hr class="my-4">
            <p>Once you're done with it, click on the test button below ! If any error occurs, you will find it in your server logs.</p>
            <a class="btn btn-info btn-lg" href="#" role="button">Test mail</a>
        </div>
    </div>
</template>

<template name="tpeeIncomingMailServer">
    <div class="col-10">
        <h1>Incoming Mail Server</h1>
        <div class="jumbotron">
            <h1 class="display-4">Make it works !</h1>
            <p class="lead">Here you will be able to fetch mail using Twiice. Don't forget to setup smtp credentials in 
                <b>settings.json</b> file.</p>
            <hr class="my-4">
            <p>Once you're done with it, click on the test button below ! If any error occurs, you will find it in your server logs.</p>
            <a class="btn btn-info btn-lg" href="#" role="button">Fetch mail</a>
        </div>
    </div>
</template>