<template name="tpeeGlobalMessages">
    <div class="row col-12">
        <a href="" class="btn-sendmail">Send an e-mail</a><a href="" class="ml-3 btn-note">Write a note</a>
    </div>
    <form>
        <div class="row col-12">
            {{#if mailSend }}
            <div class="form-group">
                <label for="exampleFormControlTextarea1">{{_ "Mail content"}}</label>
                <textarea class="form-control" id="mailSendContent" cols="100%"
                    row="5">{{_ "Send an e-mail to the linked customer"}}</textarea>
            </div>
            <div class="row col-12">
                <input type="button" value="Send email" id="mailSend" class="btn btn-success">
            </div>
            {{ else }}
            <div class="form-group">
                <label for="exampleFormControlTextarea1">{{_ "Note content"}}</label>
                <textarea class="form-control" id="writeNoteContent" cols="100%"
                    row="5">{{_ "Let a note on this document"}}</textarea>
            </div>
            <div class="row col-12">
                <input type="button" value="Save note" id="writeNote" class="btn btn-success">
            </div>
            {{/if}}
        </div>
    </form>
    <hr>
</template>